.page-sidebar{
    transform: translate(0px, 0px);
    width: $layout-sidepanel-pin-width;
    height: 100%;
    .sidebar-header{
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        flex-wrap:wrap;
        .brand{
            font-family: 'Pacifico', cursive;
            width:50%;
            height: inherit;
            img{
                width: 90%;
                height: inherit;
            }
        }
        .sidebar-header-controls{
            -webkit-transform: translateX(-10px);
                -ms-transform: translateX(-10px);
                transform: translateX(-10px);
            button{
                i{
                    height:auto;
                }
            }
        }
    }
    &:hover{
        transform: translate(210px, 0px);
        .sidebar-header-controls{
            -webkit-transform: translateX(18px);
                -ms-transform: translateX(18px);
                transform: translateX(18px);
        }
    }

    .sidebar-menu{
        .scroll-wrapper{
            position: relative;
            .menu-items{
                height: auto;
                margin-bottom: 0px;
                margin-right: 0px;
                max-height: 738px;
                .row{
                    padding:0rem;
                    margin:0rem;
                }
                li{
                    margin:0px;
                    padding:0.6rem 0rem;
                    a{
                        color: #788195;
                        line-height: 28px;
                        float: left;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size:14px;
                        .row{
                            margin:0rem;
                            > .col{
                                margin:0rem;
                                padding:0rem;
                            }
                        }
                        .details{
                            line-height: 16px;
                            font-size: 12px;
                            opacity: .4;
                            display: block;
                            clear: both;
                        }
                    }
                    .icon-thumbnail{
                        padding:0px;
                        margin:0px;
                    }
                    >:last-child{
                        display:flex;
                        flex-direction: row;
                        justify-content: center;
                        align-content: center;
                    }
                }
            }
            .scroll-element{
                .scroll-bar{
                    width: 89px;
                }
            }
            &:last-child{
                .scroll-element_outer{
                    .scroll-bar{
                        height: 647px;
                        top: 0px;
                    }
                }
            }
        }
        
    }    
}

.menu-pin{
    .page-sidebar{
        transform: translate(210px, 0px);
        width: $layout-sidepanel-pinned-width;
    }
    & [data-toggle-pin=sidebar]>i:before {
        content: "\f192";
    }
    & .page-sidebar{
        .sidebar-header {
            .sidebar-header-controls {
                -webkit-transform: translateX(18px);
                -ms-transform: translateX(18px);
                transform: translateX(18px);
            }
        }
    }
}